<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>controllers.DBTestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Public</servlet-name>
        <servlet-class>controllers.Public</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Private</servlet-name>
        <servlet-class>controllers.Private</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupProjController</servlet-name>
        <servlet-class>controllers.GroupProjController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupPrivate</servlet-name>
        <servlet-class>controllers.GroupPrivate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupPublic</servlet-name>
        <servlet-class>controllers.GroupPublic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Public</servlet-name>
        <url-pattern>/Public</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Private</servlet-name>
        <url-pattern>/Private</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupProjController</servlet-name>
        <url-pattern>/GroupProjController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupPrivate</servlet-name>
        <url-pattern>/GroupPrivate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupPublic</servlet-name>
        <url-pattern>/GroupPublic</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
